body {
    font-family: Helvetica, sans-serif;
}

#title {
    margin: auto;
    width: 90%;
    border-radius: 10px;
}

.solid {
    width: 90%;
}

.container {
    text-align: center;
    background-color: rgb(169, 169, 255);
    margin: auto;
    width: 90%;
    border-radius: 10px;
}

#singleContainer {
    padding-bottom: 2%;
}

.main {
    padding-top: 20px;
    font-size: 5vw;
}

#three {
    margin-top: 1%;
    border-radius: 10px;
    background-color: rgb(169, 169, 255);
}

#s , #t, #f, #single {
    display: inline-block;
    width: 40%;
    border-radius: 10px;
    background-color: rgb(147, 147, 228);
    margin-bottom: 2%;
}

#name, #firstName, #secondName, #thirdName {
    font-size: 5vw;
}

#myBtn {
      background-color: #f02f79;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 700;
      height: 40px;
      line-height: 20px;
      list-style: none;
      margin: 2px;
      padding: 0px 16px;
      position: relative;
      text-decoration: none;
      transition: color 1000ms;
}

#myBtn:hover {
    background-color: #d92b6d;
}

#myInput {
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 28px;
    vertical-align: middle;
    width: 15vh;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    :focus{
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    }

}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .main {
        font-size: 2vw;
    }
    #name, #firstName, #secondName, #thirdName {
        font-size: 2vw;
    }
    #s , #t, #f, #single {
        display: inline-block;
        width: 20%;
        border-radius: 10px;
        background-color: rgb(147, 147, 228);
        margin-bottom: 2%;
    }
  }